img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

body {
    background-color: black;

    display: flex;
    padding: ;
}
p{color: gray;}

h2{color: gray;}

header{
    font-family: 'Comic Neue', cursive;
}

header img{
    display: flex;
    justify-content: center;
    
}

header h1{
    display: flex;
    justify-content: space-between;    
    margin-top: 15%;
    padding: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

